%% -*- erlang -*-
{plugins, [pc]}.

%% rebar3 port compiler plugin
{provider_hooks,
 [
   {pre, [
          {compile, {pc, compile}},
          {clean, {pc, clean}}
         ]} 
 ]}.

%% Erlang compiler configuration
{erl_opts, [debug_info, fail_on_warning]}.

%% Port compiler configuration
{port_env, [
	    {"linux", "CFLAGS", "$CFLAGS -DUSE_EPOLL"},
	    {"CFLAGS", "$CFLAGS -Wall -DDLOG_DEFAULT=DLOG_NONE"}
	   ]}.

%% port_specs is defined in rebar.config.script

